<div class="bs-callout bs-callout-primary link-out-callout">
<i class="fa fa-external-link" aria-hidden="true"></i>&nbsp;&nbsp;<a class="link-out" href="{{include.url}}" target="_blank" rel="noopener">{{include.text}}</a>
{% if include.image %}<figure class="link-out-preview" {% if include.max-width %}style="max-width: {{include.max-width}}{% unless include.max-width contains '%' or include.max-width contains 'px' %}px{% endunless %}"{% endif %}>
  <a href="{{include.url}}" target="_blank" rel="noopener"><img src="{{include.image}}" alt="{% if include.caption %}{{include.caption}}{% else %}Preview of {{include.text}}{% endif %}" style="max-width: 100%" /></a>
  {% if include.caption %}<figcaption>{{include.caption}}</figcaption>{% endif %}
</figure>{% endif %}
</div>