---
title: Documentation, tutorials and teaching materials
keywords: training
sidebar: artic_sidebar
toc: false
permalink: training
folder: training
---

{% assign docs = site.html_pages | where_exp:"item", "item.folder contains 'training'" |
where_exp:"item", "item.category contains 'guide'" | sort: 'title' %}
{% if docs and docs.size != 0 %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Training Guides</h2>
    </div>
    {% for page in docs %}
    {% include subsection.html icon=page.icon title=page.title_text url=page.url summary=page.subtitle_text %}
    {% endfor %}
</div>
{% endif %}

{% assign docs = site.html_pages | where_exp:"item", "item.folder contains 'training'" |
where_exp:"item", "item.category contains 'tutorial'" | sort: 'title' %}
{% if docs and docs.size != 0 %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Tutorials</h2>
    </div>
    {% for page in docs %}
    {% include subsection.html icon=page.icon title=page.title_text url=page.url summary=page.subtitle_text %}
    {% endfor %}
</div>
{% endif %}

{% assign docs = site.html_pages | where_exp:"item", "item.category == 'link'" | sort: 'title' %}
{% if docs and docs.size != 0 %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Links and Resources</h2>
    </div>
    {% for page in docs %}
    {% include subsection.html icon=page.icon title=page.title_text subtitle=page.subtitle_text url=page.link  %}
    {% endfor %}
</div>
{% endif %}

